{% extends "base_template.html" %}
{% block title %}Climaduino History{% endblock %}
{% block header %}
				<a href="javascript:location.reload(true);" data-icon="refresh">Refresh</a>
				<h1>{{device.name}} history</h1>
				<a href="{% url 'settings:index' %}" data-icon="grid">Zones</a>
{% endblock %}
{% block content %}
				<div data-role="collapsible-set">
					{% for graph in graphs %}
					<div data-role="collapsible" data-collapsed="true">
						<h3>{{ graph }}</h3>
						<img src="/static/{{ graph }}" />
					</div>
					{% endfor %}
				</div>
{% endblock %}