{% extends "base_template.html" %}
{% block title %}Climaduino - {{device.zonename}}{% endblock %}
{% block header %}
    <script type="text/javascript">
        function updateReadings() {

            $.ajax({
                url: "{% url 'settings:readings'  device.name%}",
                dataType: "json",
                success:
                    function(data){
                        $('#temperature').text(data.temperature);
                        $('#humidity').text(data.humidity);
                        $('#currentlyRunning').text(data.currentlyRunning);
                    },
                complete:
                    function(){
                        setTimeout(updateReadings, 10000);
                    }
            });
        }

        function updateSettings() {

            $.ajax({
                url: "{% url 'settings:settings'  device.name%}",
                dataType: "json",
                success:
                    function(data){
                        $('#setTemperature').text(data.temperature);
                        $('#setHumidity').text(data.humidity);
                    },
                complete:
                    function(){
                        setTimeout(updateSettings, 60000);
                    }
            });
        }

        setTimeout(updateReadings, 10000);
        setTimeout(updateSettings, 60000);
    </script>
<a href="javascript:location.reload(true);" data-icon="refresh">Refresh</a>
<h1>{{device.zonename}}</h1>
<a href="{% url 'settings:index' %}" data-icon="grid">Zones</a>
{% endblock %}
{% block content %}
           <div class="ui-grid-a">
                <div class="ui-block-a">
                    {% if settings.mode == 0 or settings.mode == 5 or not settings %}
                    <h3 align="center">Temperature</h3>
                    <a href="{% url 'settings:temperature' device.name %}" data-role="button"><h1><span id="temperature">{{ readings.temperature }}</span>º</h1><hr /><h4><span id="setTemperature">{{ settings.temperature }}</span></span>º</h4></a>
                    {% endif %}
                    {% if settings.mode == 1 or settings.mode == 8 or settings.mode == 9 %}
                    <h3 align="center">Temperature</h3>
                    <div data-role="button" data-theme="a"><h1><span id="temperature">{{ readings.temperature }}</span>º</h1><hr /><h4>-</h4></div>
                    {% endif %}

                </div>
                <div class="ui-block-b">
                    {% if settings.mode == 0 or settings.mode == 1 or not settings %}
                    <h3 align="center">Humidity</h3>
                    <a href="{% url 'settings:humidity' device.name %}" data-role="button"><h1><span id="humidity">{{ readings.humidity }}</span>%</h1><hr /><h4><span id="setHumidity">{{ settings.humidity }}</span>%</h4></a>
                    {% endif %}
                    {% if settings.mode == 5 or settings.mode == 8 or settings.mode == 9 %}
                    <h3 align="center">Humidity</h3>
                    <div data-role="button" data-theme="a"><h1><span id="humidity">{{ readings.humidity }}</span>%</h1><hr /><h4>-</h4></div>
                    {% endif %}
                </div>
            </div>
            System running: <span id="currentlyRunning">{{ status.currentlyRunning }}</span>
            <form action="{% url 'settings:device_index' device.name %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" />
            </form>
{% endblock %}